# PyCharm specific
.idea

# Byte-compiled
*/__pycache__/
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Python specific
venv/

# Project specific
draft_project/

# Coverage analysis
htmlcov/
.coverage
.vscode/
